<footer class="nb-footer">
    <div class="container">
       <div class="row">
          <div class="col-12 text-center mb-3">
             <div class="about">
                <div class="social-media">
                   <ul class="list-inline">
                      <li class="list-inline-item"><a href="https://www.facebook.com/share/18XX9c78Nf/?mibextid=wwXIfr" title=""><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/10elevenconsultants?igsh=MTZod28wdzAwbjdiZg%3D%3D&utm_source=qr" title=""><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.linkedin.com/company/10eleven-ae/" title=""><i class="fa fa-linkedin"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mb-4">
             <div class="footer-info-single">
                <h2 class="title">About Company</h2>
                <p>10Eleven Consultants – Your trusted partner for seamless business setup and growth in the UAE. From company formation to post-setup support, we help your business thrive.</p>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mb-4">
             <div class="footer-info-single">
                <h2 class="title">Quick Links</h2>
                <ul class="list-unstyled">
                   <li>
                      <a href="about.html" title=""
                         ><i class="fa fa-angle-double-right"></i> About us</a
                         >
                   </li>
                   <li>
                      <a href="companyformation.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Company
                      Formation</a
                         >
                   </li>
                   <li>
                      <a href="services.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Services</a
                         >
                   </li>
                   <li>
                      <a href="contact.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Contact</a
                         >
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mb-4">
             <div class="footer-info-single">
                <h2 class="title">Our Services</h2>
                <ul class="list-unstyled">
                   <li>
                      <a href="#" title=""
                         ><i class="fa fa-angle-double-right"></i> PRO Services</a
                         >
                   </li>
                   <li>
                      <a href="#" title=""
                         ><i class="fa fa-angle-double-right"></i> Accounting & Tax
                      Consultancy</a
                         >
                   </li>
                   <li>
                      <a href="#" title=""
                         ><i class="fa fa-angle-double-right"></i> Bank Account
                      Opening</a
                         >
                   </li>
                   <li>
                      <a href="#" title=""
                         ><i class="fa fa-angle-double-right"></i> Trademark
                      Registration</a
                         >
                   </li>
                   <li>
                      <a href="#" title=""
                         ><i class="fa fa-angle-double-right"></i> Legal
                      Consultancy</a
                         >
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12 mb-4">
             <div class="footer-info-single">
                <h2 class="title">Security & Privacy</h2>
                <ul class="list-unstyled">
                   <li>
                      <a href="terms-&-conditions.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Terms &
                      Conditions</a
                         >
                   </li>
                   <li>
                      <a href="refund-policy.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Refund Policy</a
                         >
                   </li>
                   <li>
                      <a href="privacy-policy.html" title=""
                         ><i class="fa fa-angle-double-right"></i> Privacy
                      Policy</a
                         >
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <section class="copyright">
       <div class="container">
          <div class="row text-center">
             <div class="col-12">
                <p>Copyright &copy; 2025. 10 Eleven Consultant</p>
             </div>
          </div>
       </div>
    </section>
 </footer>